@{
    var table = Model;
    var table_name = Model.Name;
    var columns = Model.FieldsCreateOrUpdateInput;//列集合

    var table_name_lower = Model.Name.ToLower();
    var primary_key_name = "id";
    var primary_key_data_type = "string";

    var api_version = "1";

    foreach (var item in columns)
    {
        item.Name = item.Name.Substring(0, 1).ToLower() + item.Name.Substring(1, item.Name.Length - 1);
    }
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>编辑@(Model.Comment)</title>
    <link href="../../layui/css/layui.css" rel="stylesheet" media="all" />
    <link href="../../build/css/common.css" rel="stylesheet" />
</head>
<body>
    <div id="page-vm" class="layui-fluid iframe-top lable-len">
        <form class="layui-form edit_@(table_name_lower)_form">
            <div class="layui-fluid">
                <input type="hidden" name="@(primary_key_name)" v-model="@(table_name_lower).@(primary_key_name)" />
                <div class="layui-row">
                    @foreach (var col in columns)
                    {
                        <div class="layui-col-sm6">
                            <div class="layui-row">
                                <div class="layui-inline">
                                    <label class="layui-form-label">@(col.Description)：</label>
                                    <div class="layui-input-inline">
                                        @if (col.IsRequired)
                                        {
                                            <input type="text" class="layui-input" lay-verify="required" placeholder="请输入@(col.Description)" v-model="@(table_name_lower).@(col.Name)">
                                        }
                                        else
                                        {
                                            <input type="text" class="layui-input" placeholder="请输入@(col.Description)" v-model="@(table_name_lower).@(col.Name)">
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <br />
                <div class="layui-row" style="text-align:center;">
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-normal" lay-submit lay-filter="btn_submit_@(table_name_lower)_form" href="javascript:;">保存</a>
                        <a class="layui-btn layui-btn-primary" id="cancel" href="javascript:;">关闭</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="../../layui/layui.js"></script>
    <script src="../../plugins/vue/vue.min.js"></script>
    <script src="../../modules/extend/common.js"></script>
    <script>
        var vm = new Vue({
            el: '#page-vm',
            data: {
                paramObj: {},
               @(table_name_lower):{
                    @foreach (var col in columns)
                    {
                        switch (col.FieldType.ToString())
                        {
                            case "Guid":
                            case "DateTime":
                            case "String":
                            {
                          @:@(col.Name):'',
                            }
                            break;
                            default:
                            {
                             @:@(col.Name): 0,
                            }
                            break;
                        }
				    }
               }
            },
            watch:{
                @(table_name_lower):{
                    deep: true,
                    handler:function(val,old_val){
                        var _this = this;
                        @foreach (var col in columns)
                        {
                            if (col.Type.ToLower() == "int") {
                                @:if ((typeof val.@(col.Name)).ToLower() === 'string')
                                    @:val.@(col.Name) = parseInt(val.@(col.Name));
                            }
				        }
                    }
                }
            },
            methods: {
                RenderDom: function(form,callback){
                    vm.$forceUpdate();//强制重新渲染 dom
                    // DOM 还没有更新
                    vm.$nextTick(function () {
                        // DOM 现在更新了
                        form.render();
                        if (callback) {
                            callback();
                        }
                    });
                }
            }
        });

        layui.use(['layer', 'form', 'ajaxmod', 'jquery','laydate','formvalidate'], function () {
            var layer = layui.layer,
                $ = layui.jquery,
                form = layui.form,
                ajaxmod = layui.ajaxmod,
                formvalidate = layui.formvalidate,
                laydate = layui.laydate;
            var _context = $('.edit_@(table_name_lower)_form');
            var _table_style = { align: 'center' };

            var @(table_name_lower)Obj = {
                initPage: function () {
                    var _the = this;
                    vm.paramObj = geturlparam();
                    _the.loadData();
                },
                loadData: function () {
					if (vm.paramObj.@(primary_key_name)) {
                        ajaxmod.requestAuthorize({
                            url: '/@(table_name_lower)/' + vm.paramObj.@(primary_key_name),
                            type: 'Get',
                            success: function (response) {
							    vm.$set(vm, '@(table_name_lower)', response);
							    vm.RenderDom(form);
                            }
                        });
					}
                }
            };
            @(table_name_lower)Obj.initPage();

            $('#cancel', $(_context)).on('click', function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            });

            form.on('submit(btn_submit_@(table_name_lower)_form)', function (_from_data) {
                var data = vm.@(table_name_lower);
                var url = '/@(table_name_lower)';
                var type = 'Post';
                if (vm.paramObj.@(primary_key_name)) {
                    url = '/@(table_name_lower)/' + vm.paramObj.@(primary_key_name);
                    type = 'Put';
                }
                ajaxmod.requestAuthorize({
                    url: url,
                    data: data,
                    type: type,
                    success: function (response) {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        top.tool.publish('edit_@(table_name_lower)_form_refresh');
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>